<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://Java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Hello!</display-name>
    <servlet>
        <servlet-name>cmisproxy</servlet-name>
        <servlet-class>com.redfig.CMISProxyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>App</servlet-name>
        <servlet-class>com.redfig.App</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cmisproxy</servlet-name>
        <url-pattern>/cmis/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>App</servlet-name>
        <url-pattern>/public</url-pattern>
    </servlet-mapping>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Proxy</web-resource-name>
            <url-pattern>/cmis/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>EcmDeveloper</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>